.game .turn {
  font-size: 32px;
  font-weight: bold;
  user-select: none;
}

.turn .x {
  color: tomato;
}

.turn .o {
  color: cornflowerblue;
}

.turn .none {
  color: gold;
}

.game .score {
  display: flex;
  gap: 10px;
  color: var(--text2);
  font-size: 72px;
  font-weight: bold;
  filter: drop-shadow(0 5px 0 var(--shadow));
  user-select: none;
}

.game .score .x {
  color: tomato;
}

.game .score .o {
  color: cornflowerblue;
}

.game .board-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game .connected {
  font-size: 20px;
  color: teal;
  background-color: rgba(0, 128, 128, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
}

.game .invite {
  font-size: 20px;
  user-select: none;
}

.game code {
  font-size: 20px;
  background-color: var(--bg2);
  padding: 5px 10px;
  border-radius: 5px;
}

.continue {
  font-size: 32px;
  padding: 10px 20px;
  background-color: var(--bg2);
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0 5px 0 var(--shadow));
  transition: all 0.2s linear;
}

.continue:hover {
  top: 2px;
  opacity: 0.9;
}

.game .board-container .board {
  width: 400px;
  height: 400px;
}
