html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg1: #ffffff;
  --bg2: #d3d3d3;
  --text1: #000000;
  --text2: #d3d3d3;
  --shadow: #808080;
  --tile1: hsl(33, 44%, 74%);
  --tile2: hsl(33, 25%, 62%);

  background-color: var(--bg1);
  color: var(--text1);

  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

body.dark {
  --bg1: #111111;
  --bg2: #222222;
  --text1: #efefef;
  --text2: #393939;
  --shadow: #444444;
  --tile1: hsl(33, 20%, 44%);
  --tile2: hsl(33, 17%, 38%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
